* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--BODY-TEXT-COLOR);
    font-family: var(--FONT-FAMILY);
}

a {
    text-decoration: none;
    color: var(--DARK-TEXT-COLOR);
}

a:hover {
    color: #6fdc72;
    transition: color 0.3s ease;
}

h1,
h2,
h3 {
    margin-bottom: 1.62rem;
    color: var(--DARK-TEXT-COLOR);
}


:where(h1, h2, h3, p):last-child {
    margin-bottom: 0;
}

h2 {
    font-size: var(--FONT-25_06);
    font-weight: 600;
    line-height: 1.914rem;
}

.container {
    max-width: 72.5rem;
    margin-inline: var(--MARGIN-INLINE);
}

/* Navigation Start */
header{
    margin-inline: var(--MARGIN-INLINE);
}
.nexcent {
    margin-block: 1.314rem;
}
header ul{
    margin-left: 15.738rem;
}
header ul li {
    font-weight: 500;
    margin-block: 1.305rem;
    justify-content: space-between;
    margin-left: 1.044rem;
    
}
header ul li:last-child {
    margin-top: 0.5rem;
    margin-right: 1.392rem;  
}

/* Navigation End */

/* Home Banner Start*/
.Home-banner {
    background-color: #F5F7FA;
    margin-inline: var(--MARGIN-INLINE);
    margin-bottom: 1.74rem;
}

.Home-banner .banner {
    display: flex;
    gap: 10.938rem;
}

h1 {
    font-size: var(--FONT-44_55);
    line-height: 3.306rem;
}

h1 span {
    color: var(--ACCENT-COLOR);
    display: block;
}

.Home-banner .banner p {
    line-height: 1.044rem;
    margin-top: 1rem;
    margin-bottom: 1.392rem;
}

.Home-banner .banner .left-panel {
    margin-block: 7.001rem;
    margin-left: var(--MARGIN-INLINE);
    gap: 1.392rem;
}

.Home-banner .banner img {
    margin-block: 4.177rem;
    margin-right: var(--MARGIN-INLINE);
}

.dot {
    margin-inline: 39rem;
    padding-bottom: 1.5rem;
}

/* Home Banner End*/


/* our-client Start*/
.our-client {
    margin-inline: var(--MARGIN-INLINE);
}

.our-client .top-section {
    margin-inline: 7.178rem;
}

.our-client .top-section h2 {
    margin-bottom: 0.348rem;
    padding-inline: 0.914;
}

.our-client .top-section p {
    margin-bottom: 1rem;
    padding-inline: 0.914;
}

.our-client .bottom-section ul {
    margin-inline: var(--MARGIN-INLINE);
    justify-content: space-between;
    align-items: center;
    padding-top: 1.559rem;
    padding-bottom: 1.528rem;
    margin-bottom: 1.553rem;
}

/* our-client End*/

/* manage-community */

.manage-community {
    margin-bottom: 2.088rem;
    margin-inline: var(--MARGIN-INLINE);
}

.manage-community .top-section {
    margin-inline: 19.534rem;
}

.manage-community .community-mid-panel {
    margin-bottom: 3.088rem;
}

.manage-community .top-section h2 {
    margin-bottom: 0.348rem;

}

.manage-community .top-section p {
    margin-bottom: 0.348rem;
}

/* community-mid-panel */
.community-mid-panel .card {
    justify-content: space-between;
    padding-inline: var(--MARGIN-INLINE);
    gap: 0.348rem;
    border-radius: 0.348rem;
    padding-inline: 1.392rem;
    padding-block: 1.044rem;
    padding-bottom: 1.044rem;
    box-shadow: 0.01rem 0.01rem 2rem 0.174rem var(--BORDER-SHADOW);
}

.community-mid-panel .card1 {
    margin-left: 9rem;
}

.community-mid-panel .card3 {
    margin-right: 9rem;
}

.community-mid-panel .card2 {
    margin-inline: 2rem;

}

.community-mid-panel .card2 h3 {
    padding-inline: 1.5rem;
}

.community-mid-panel .card h3 span {
    margin-inline: 1rem;
}

.community-mid-panel .card h3 {
    margin-top: 1rem;
    font-size: var(--FONT-19_49);
    margin-bottom: 0.5rem;

}

.community-mid-panel .card p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin-top: 0.348rem;
}


/* community-bottom-panel */
.community-bottom-panel {
    margin-inline: var(--MARGIN-INLINE);
}

.community-bottom-panel .left_panel img {
    margin-bottom: 2rem;
    margin-block: 5.156rem;
}

.community-bottom-panel .right_panel {
    margin-top: 5.156rem;
}

.community-bottom-panel .right_panel p {
    font-weight: 400;
    line-height: 1.25rem;
    font-size: 0.875rem;
    margin-bottom: 2rem;
}

.community-bottom-panel .right_panel a {
    margin-bottom: 3.547rem;
}

.community-bottom-panel .right_panel h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-bottom: 1rem;
}

.community-bottom-panel .right_panel h2,
span {
    display: block;
}

/* helping-business-section */
.helping-business {
    margin-inline: var(--MARGIN-INLINE);
}

.helping-business .container {
    background-color: var(--SECONDRY-COLOR);
}

.helping-business .container .left-panel h2 span {
    color: var(--ACCENT-COLOR);
}

.helping-business .container .left-panel h2 {
    margin-bottom: 0.348rem;
}

.helping-business .container .left-panel p {
    color: #18191F;
}

.helping-business .container .left-panel {
    margin-block: 3.699rem;
    margin-left: var(--MARGIN-INLINE);
    
}
    
.helping-business .container .right-panel {
    margin-left: var(--MARGIN-INLINE);
    
}
.helping-business .right-panel ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 30px;
    padding-top: 50px;
    margin-bottom: 1rem;
}

.helping-business .right-panel ul li{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 28px;
    font-weight: 700;
    color: #222;
}

.helping-business .right-panel ul li span{
    display: block;
    margin-top: 3px;
}

.helping-business .container .right-panel ul li p {
    color: var(--DARK-TEXT-COLOR);
    font-weight: 700;
    font-size: var(--FONT-19_49);
}
.helping-business .container .right-panel ul p span {
    color: var(--BODY-TEXT-COLOR);
    font-weight: 400;
    font-size: 1rem;
}  

/* How-Design-footer section */
.design-footer {
    margin-inline: var(--MARGIN-INLINE);
}

.design-footer .container {
    margin-bottom: 2.088rem;
    margin-top: 2.088rem;
}

.design-footer .container .left-panel img {
    margin-top: 2.088rem;
    margin-left: var(--MARGIN-INLINE);

}

.design-footer .container .right-panel {
    margin-left: 2.152rem;
    margin-right: var(--MARGIN-INLINE);
}

.design-footer .container .right-panel h2 {
    margin-top: 2.677rem;
}

.design-footer .container .right-panel p {
    margin-top: 0.696rem;
    font-weight: 400;
    line-height: 0.87rem;
    font-size: var(--FONT-9_74);
    margin-bottom: 2rem;
    margin-right: 8.875rem;

}

/* Testimonial Section */
.testmonials {
    margin-inline: var(--MARGIN-INLINE);
}

.testmonials .container {
    background-color: var(--SECONDRY-COLOR);
    
}

.testmonials .container .left-panel img {
    margin-left: var(--MARGIN-INLINE);
    margin-right: 0.2rem;
    margin-block: 1.392rem;
}

.testmonials .container .right-panel {
    margin-right: var(--MARGIN-INLINE);
    margin-left: 1rem;
    margin-top: 1.409rem;
}

.testmonials .container .right-panel blockquote p {

    font-weight: 500;
    font-size: var(--FONT-11_14);
    line-height: 1.044rem;
    margin-bottom: var(--FONT-11_14);
    margin-top: 1.409rem;

}

.testmonials .container .right-panel .name {
    font-weight: 600;
    font-size: var(--FONT-13_92);
    color: var(--ACCENT-COLOR);
    margin-top: var(--FONT-13_92);
    margin-bottom: 0.348rem;
    line-height: 1.218rem;
}

.testmonials .container .right-panel .comment {
    font-weight: 400;
    margin-bottom: var(--MARGIN-BOTTOM);
}

.testmonials .container .right-bottom a {
    color: var(--ACCENT-COLOR);
} 
.testmonials .container .right-bottom a:hover{
    color: #6fdc72;
    transition: color 0.3s ease;
}  

.testmonials .container .right-bottom ul,
li {
    padding-right: 1.784rem;
}


/* caring-marketing Section */
.caring-marketing {
    margin-inline: var(--MARGIN-INLINE);
}

.caring-marketing .top-panel h2 {
    margin-top: 2.088rem;
    margin-bottom: 0.348rem;
}

.caring-marketing .top-panel p {
    font-weight: 400;
    font-size: var(--FONT-11_14);
    line-height: 1.011rem;
    margin-inline: 21.950rem;
    margin-bottom: 0.696rem;
}

.caring-marketing .cart-panel .cart {
    padding-left: 1.043rem;
    padding-right: 1.436rem;
    padding-bottom: 1.044rem;
} 
.cart-panel{
    margin-left: var(--MARGIN-INLINE);
    margin-right: var(--MARGIN-INLINE);
    margin-bottom: 3.342rem; 
} 
.card-wrapper{
    display: flex;
    gap: 30px;
}
.card-wrapper .card{
    display: flex;
    flex-direction: column;
    width: 28%;
    flex-grow: 1;
}

.card-wrapper .card1 img{width: 100%;}
.text-content{
    margin-top: -70px;
    margin-inline: 1.109rem;
    flex-grow: 1;
    font-weight: 600;
    font-size: var(--FONT-13_92);
    line-height: 1.218rem;
    background: var(--SECONDRY-COLOR);
    box-shadow: 0px 2px 4px var(--BORDER-SHADOW);
    text-align: center;
    padding: 1.5rem;
    border-radius: 0.348rem;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.text-content a{
    margin-top: auto;
}
.caring-marketing .cart-panel .cart a {
    color: var(--ACCENT-COLOR);
}
.caring-marketing .cart-panel .cart a:hover{
    color: #6fdc72;
    transition: color 0.3s ease;
}

/* Footer-Get-Demo-Section */
.footer-section {
    margin-inline: var(--MARGIN-INLINE);
}

.get-demo {
    background-color: var(--SECONDRY-COLOR);
}

.get-demo h2 {
    color: var(--FOOTER-COLOR);
    margin-inline: 12.029rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.75rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.get-demo a {
    margin-inline: 29.281rem;
    margin-bottom: 2.625rem;
}

/* footer-Section*/
.footer {
    background-color: var(--FOOTER-COLOR);
    color: var(--PRIMARY-COLOR);
    
}

.footer .logos-section {
    margin-left: 10.313rem;
    padding-top: 4rem;
    margin-right: 7.813rem;
    
}

.footer .logos-section ul {
    margin-bottom: 3.28rem;

}

.footer .logos-section p {
    font-weight: 400;
    font-size: var(--FONT-9_74);
    margin-top: 2.629rem;
    margin-bottom: 2.5rem;  
}

.footer .logos-section a span {
    margin-top: 0.5rem;
}
/*  */
.social-icons {
    display: flex;
    gap: 0.6rem; /* Minimal spacing between icons */
    margin-bottom: 3.28rem;
}

.social-icons a {
    display: inline-block; 
    transition: transform 0.2s ease;
}

.social-icons a img {
    width: 20px;  
    height: 20px; 
    display: block; 
}
.social-icons a:hover {
    transform: scale(1.1); 
}
/*  */


.footer .left-panel h3 {
    font-weight: 600;
    font-size: 1.25rem;
}

.footer .left-panel {
    padding-top: 4rem;
    margin-right: 7.178rem;
    margin-left: 5.438rem;
}

.footer .left-panel a {
    display: block;         
    margin-bottom: 0.5rem;  
    margin-top: 1rem;       
    font-weight: 400;
    font-size: var(--FONT-9_74);
    text-decoration: none;  
    color: #fff;            
}

.footer .left-panel a:hover {
    color: #00aaff;         
}


.company {
    margin-right: 1.305rem;
}
.support{
    margin-right: 1.305rem; 
}

.up-to-date form {
    margin-top: 1rem;
}

.up-to-date input[type="email"] {
    padding: 0.3rem 0.2rem;
    width: 100%;
    font-size: 1rem;
    margin-top: 0.2rem;
    background-color: var(--FORM-COLOR);
    border-radius: 0.5rem;
    margin-top: 0.1rem;
    background-image: url('../Images/send.svg');
    background-repeat: no-repeat;
    background-position: right 0.8rem center;
}