* {
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    color: var(--BODY-TEXT-COLOR);
    font-family: var(--FONT-FAMILY);
}
a {
    text-decoration: none;
    color: var(--DARK-TEXT-COLOR);
}
a:hover {
    color: #6fdc72;
    transition: color 0.3s ease; 
}

h1,
h2,
h3 {
    margin-bottom: 1.62rem;
    color: var(--DARK-TEXT-COLOR);
}


:where(h1, h2, h3, p):last-child {
    margin-bottom: 0;
}

h2 {
    font-size: var(--FONT-25_06);
    font-weight: 600;
    line-height: 1.914rem;
}
 .container {
    max-width: 72.5rem;
    position: relative;
    left: 8.75rem;
    margin-right: var(--MARGIN-INLINE); 
    
}
/* Navigation Start */
 .nexcent{
    margin-left: var(--MARGIN-INLINE);
    margin-block: 1.314rem;
    margin-right: 13rem;
}

header ul li{
    font-weight: 500;
    margin-block: 1.305rem;
    justify-content: space-between;
}  
header ul li:last-child{
    margin-top: 0.5rem;
    margin-left: 0%rem;
} 

/* Navigation End */

/* Home Banner Start*/
.Home-banner{
    background-color:  #F5F7FA;
    margin-inline: var(--MARGIN-INLINE); 
    margin-bottom: 1.74rem; 
}
.Home-banner .banner{
    display: flex;
    gap: 10.938rem;   
}
h1{
    font-size: var(--FONT-44_55);
    line-height: 3.306rem;
}
h1 span{
    color: var(--ACCENT-COLOR);
    display: block;
}
.Home-banner .banner p{
    line-height: 1.044rem;
    margin-top: 1rem;
    margin-bottom: 1.392rem;
}
.Home-banner .banner .left-panel{
    margin-block: 7.001rem;
    margin-left: var(--MARGIN-INLINE);
    gap: 1.392rem;
}
.Home-banner .banner img{
    margin-block: 4.177rem;
    margin-right: var(--MARGIN-INLINE);  
}
.dot {
    margin-inline: 38rem;
    margin-bottom: 1rem;
}
/* Home Banner End*/

 
/* our-client Start*/
.our-client .top-section{
    margin-inline: 7.178rem;
}
.our-client .top-section h2{
    margin-bottom: 0.348rem;
    padding-inline: 0.914;
}
.our-client .top-section p{
    margin-bottom: 1rem;
    padding-inline: 0.914;
}
.our-client .bottom-section ul{
    margin-inline: var(--MARGIN-INLINE);
    justify-content: space-between;
    align-items: center;
    padding-top: 1.559rem;
    padding-bottom: 1.528rem;
    margin-bottom: 1.553rem;
}
/* our-client End*/

/* manage-community */
.manage-community .top-section{
    margin-inline: 19.534rem;
}
.manage-community{
    margin-bottom: 2.088rem; 
}
.manage-community .community-mid-panel{
    margin-bottom: 3.088rem;
}
.manage-community .top-section h2{
    margin-bottom: 0.348rem;

}
.manage-community .top-section p{
    margin-bottom: 0.348rem;
}
.community-mid-panel .card{
    justify-content: space-evenly;
    margin-inline: var(--MARGIN-INLINE);
    gap:0.348rem;
    padding-bottom: 1.044rem;
    box-shadow: 0.01rem 0.01rem 2rem 0.174rem var(--BORDER-SHADOW);
}
.community-mid-panel .card h3 span{
    margin-inline: 1rem; 
}
.community-mid-panel .card h3 {
    margin-top: 1rem;
    font-size: var(--FONT-19_49);
    margin-bottom: 0%;
   
}
.community-mid-panel .card p{
    margin-inline: 1.044rem;
    margin-bottom: 1.044rem;
    font-size: var(--FONT-9_74);
    font-weight: 400;
    line-height: 0.87rem;
    margin-top: 0.348rem;   
}
/* community-bottom-panel */
.community-bottom-panel .left_panel img{
    margin-left: var(--MARGIN-INLINE);
    margin-right: 7rem;
    margin-bottom: 2rem;
    margin-top: 3.547rem;
    margin-bottom: 3.547rem;
}
.community-bottom-panel .right_panel{
    margin-right: var(--MARGIN-INLINE);
    margin-left: 1rem;
    margin-top: 3.547rem;
    margin-bottom: 3.547rem;
}
.community-bottom-panel .right_panel p{
    font-weight: 400;
    font-size: var(--FONT-9_74);
    margin-right: 5.8rem;
    margin-bottom: 1.392rem;
    
}
.community-bottom-panel .right_panel h2, span{
    display: block;
}
/* helping-business-section */
.helping-business .container{
    background-color: var(--SECONDRY-COLOR);
}
.helping-business .container .left-panel h2 span{
    color: var(--ACCENT-COLOR);
}
.helping-business .container .left-panel h2{
    margin-bottom: 0.348rem;
}
.helping-business .container .left-panel p{
    color: #18191F;
}
.helping-business .container .left-panel {
    margin-block: 3.699rem;
    margin-left: var(--MARGIN-INLINE);
}
.helping-business .container .right-panel{
    margin-block: 2.784rem;
    margin-left: 15rem;
    margin-right: var(--MARGIN-INLINE);
}

.helping-business .container .right-panel .list2, .list1{
    gap: 1.305rem;
}
.helping-business .container .right-panel .list2 .list1:last-child{
    padding-right: 7rem;
}
.helping-business .container .right-panel .list1{
    margin-top: 0.7rem;
    margin-bottom: 2rem;
}
.helping-business .container .right-panel ul p {
    color: var(--DARK-TEXT-COLOR); 
    font-weight: 700;
    font-size: var(--FONT-19_49);
}

.helping-business .container .right-panel ul p span {
    color: var(--BODY-TEXT-COLOR);
    font-weight: 400;
    font-size: 1rem;
    
}

/* Design-footer section */

.Design-footer .container .left-panel img{
    margin-left: var(--MARGIN-INLINE);
    margin-right: 7rem;
    margin-bottom: 2rem;
    margin-top: 3.547rem;
    margin-bottom: 3.547rem; 
}

.Design-footer .container .right-panel {
    margin-right: var(--MARGIN-INLINE);
    margin-left: 1rem;
    margin-top: 3.547rem;
    margin-bottom: 3.547rem;
}

.Design-footer .container .right-panel p {
    font-weight: 400;
    font-size: var(--FONT-9_74);
    margin-right: 5.8rem;
    margin-bottom: 1.392rem;
    
}

/* Testimonial Section */
.testmonials .container{
    background-color: var(--SECONDRY-COLOR);
}
.testmonials .container .left-panel img{
    margin-left: var(--MARGIN-INLINE);
    margin-right: 0.2rem;
    margin-bottom: 2rem;
    margin-top: 1.392rem;
    margin-bottom:1.392rem; 
}
.testmonials .container .right-panel {
    margin-right: var(--MARGIN-INLINE);
    margin-left: 1rem;
    margin-top: 1.409rem;
    margin-bottom: 1.409rem;
}
.testmonials .container .right-panel blockquote p{
    
    font-weight: 500;
    font-size: var(--FONT-11_14);
    line-height: 1.044rem;
    /* margin-right: 5.8rem;
    margin-bottom: 1.392rem; */
}
.testmonials .container .right-panel .name{
    font-weight: 600;
    font-size: var(--FONT-13_92);
    color: var(--ACCENT-COLOR);
    margin-top: var(--FONT-13_92);
    margin-bottom: 0.348rem;
    line-height: 1.218rem;
}
.testmonials .container .right-panel .comment {
    margin-bottom: var(--MARGIN-BOTTOM);
}
 .testmonials .container .right-bottom a{
    color: var(--ACCENT-COLOR);
} 
.testmonials .container .right-bottom ul,li{
    padding-right: 2.950rem;
}
.testmonials .container .right-bottom ul,li:last-child{
    padding-right: 1.950rem;
}

/* caring-marketing Section */
.caring-marketing .top-panel h2{
    margin-top: 2.088rem;
    margin-bottom: 0.348rem;
}
.caring-marketing .top-panel p {
    font-weight: 400;
    font-size: var(--FONT-11_14);
    line-height: 1.011rem;
    margin-inline: 21.950rem;
    margin-bottom: 0.696rem;
}
.caring-marketing .cart-panel .cart figcaption{
    padding-inline: 1.987rem;
    padding-block: 0.696rem;
    font-weight: 600;
    line-height: 1.218rem;
    z-index: 1rem;
    max-width:19rem;
    max-height: fit-content; 
}
.caring-marketing .cart-panel .cart {
    margin: 0; 
    /* background-color: aqua; */
}

.caring-marketing .cart-panel .cart .cart1 {
    margin-right: 0.08rem; 
}

.caring-marketing .cart-panel .cart .cart2 {
    margin-inline: 0.15rem; 
}

.caring-marketing .cart-panel .cart .cart3 {
    margin-left: 0.08rem; 
}
.caring-marketing .cart-panel {
    margin-left: var(--MARGIN-INLINE);
    margin-right: var(--MARGIN-INLINE);
    margin-bottom: 5.913rem;
}
.caring-marketing .cart-panel .cart{
    padding-left: 1.043rem;
    padding-right: 1.436rem;
    padding-bottom: 1.044rem;  
}
.caring-marketing .cart-panel .cart a{
    color: var(--ACCENT-COLOR);
}

/* Footer-Get-Demo-Section */
.get-demo{
    background-color: var(--SECONDRY-COLOR);
}
.get-demo h2{
    color: var( --FOOTER-COLOR);
    margin-inline: 16.281rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.75rem;
    padding-top: 2rem;
    padding-bottom: 2rem;    
}
.get-demo a{
    margin-inline: 31.281rem;
    margin-bottom: 2.625rem;
}
/* footer-Section*/
.container2 {
    background-color: var(--FOOTER-COLOR);
    color: var(--PRIMARY-COLOR);
}
.container2 .logos-section {
    margin-left: 10.313rem;
    padding-top: 4rem;
    margin-right: 7.813rem;
}
.container2 .logos-section ul{
    margin-bottom: 4.646rem;
}
.container2 .logos-section li{
    gap: 0.03rem;
}
.container2 .logos-section p{
    font-weight: 400;
    font-size: 0.875rem;
    margin-top: 2.629rem;
    margin-bottom: 2.5rem;
}
.container2 .logos-section p span{
    margin-top: 0.5rem;
}
.container2 .left-panel h3{
    font-weight: 600;
    font-size: 1.25rem;
    
}
.container2 .left-panel{
    padding-top: 4rem;
    margin-right: 2rem;
}

.left-panel p {
    margin-bottom: 0.5rem; 
    margin-top: 1rem;
}
.company {
    margin-right: 3rem; 
}
.up-to-date form {
    margin-top: 1rem;  
}

 .up-to-date input[type="email"] {
    padding: 0.8rem 1rem;  
    width: 100%;            
    font-size: 1rem;        
    margin-top: 0.5rem;     
    background-color: var(--FORM-COLOR);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    background-image: url('../Images/send.svg'); 
    background-repeat: no-repeat;
    background-position: right 0.8rem center; 
} 

