/* Ulitity Classes */

.btn {
    display: inline-block;
    color: var(--PRIMARY-COLOR);
    background-color: var(--ACCENT-COLOR);
    line-height: 1.044rem;
    text-align: center;
    padding-block: 0.900rem;
    padding-left: 1.392rem;
    padding-right: 0.142rem;
    font-weight: 500;
    border-radius: 0.174rem;
    
}

.btn2 a {
    padding: 1rem;
    color: #fff;
}

.btn3 {
    display: inline-block;
    color: var(--PRIMARY-COLOR);
    background-color: var(--ACCENT-COLOR);
    line-height: 1.044rem;
    text-align: center;
    padding-block: 0.609rem;
    padding-inline: 1.392rem;
    font-weight: 500;
    border-radius: 0.174rem;
}

.d-flex {
    display: flex;
}

.text-align-center {
    text-align: center;
}

.list_decor-none {
    list-style-type: none;
}
